<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Document-Similarity</title>
    </head>
    
    <h3>NULL</h3>

    <body>
        
        <form method="POST" >
            <input name='source'> 
            <input name = 'submit' type='submit'>
        </form>

        <form method="POST" >
            <input name='target'> 
            <input name = 'submit' type='submit'>
        </form>
        
    </body>
</html>