<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Document-Similarity</title>
    </head>
    
    <h3>Document-Similarity-API</h3>

    <body>
        <p>The Source Text & The Target Text </p>
        <form method="POST" >
            <input id='source' name='source'> 
            <input id='target' name='target'>
            <input  name = 'submit' type='submit'>


        </form>

        
        
    </body>
</html>